<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Book Notes</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>

  <body>  
    <!-- Search Bar -->
    <section>
        <div class="main-searchbar-section">
          <a href="/" class="home-btn">
            <img src="/images/homepage.svg" alt="homepage" style="width: 25px; height: auto;">
          </a>
          <form id="search-form" style="width: 100%;" action="/search" method="get">            
            <input class="search-feature search-bar" type="text" name="search" placeholder="Search a book title or author">
            <button class="search-feature search-btn btn" type="submit">
              <img src="/images/search.svg" alt="search" class="search-icon">
              Search
            </button>
          </form>
        </div>        
    </section>